<div class="container-fluid mt-2">
  <h2 class="secondary-page-title"> Edit Reply </h2>
  <%= form_with(model: @reply, url: [@post, @reply])  do |form| %>
      <div class='field mb-2'>
        <%= form.label :body, "Reply",  class: "form-label" %><br>
        <%= form.text_area :body, class: "form-control reply-form" %>
      </div>
      <div>
        <%= form.submit nil, class: "btn btn-secondary" %>
      </div>
  <% end %>
</div>


