/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "./actiontext.scss";

$primary-color: #ff4643;
$secondary-color: #3943e3;
$primary-hover-color: #c21711;
$secondary-hover-color: #090fb8;

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.primary-links {
    color: $primary-color;
}
.secondary-links {
    color: $secondary-color;
}
.odd {
    border-color: $primary-color;
    a {
        color: $primary-color;
        &:hover {
            color: $primary-hover-color;
        }
    }
}
.even {
    border-color: $secondary-color;
    a {
        color: $secondary-color;
        &:hover {
            color: $secondary-hover-color;
        }
    }
}

// aside {
//     float: right;
// }

.reply-form {
    border-color: $secondary-color;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
        background-color: $primary-hover-color;
        border-color: $primary-hover-color;
    }
}

.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    &:hover {
        color: $primary-hover-color;
        border-color: $primary-hover-color;
        background-color: white;
    }
}

.btn-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
        background-color: $secondary-hover-color;
        border-color: $secondary-hover-color;
    }
}

.btn-outline-secondary {
    color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
        background-color: white;
        border-color: $secondary-hover-color;
        color: $secondary-hover-color;
    }
}

.primary-page-title {
    color: $primary-color;
}

.secondary-page-title {
    color: $secondary-color;
}

.form-check-input-secondary {
    &:focus {
        background-color: $secondary-color;
    }
    &:checked {
        background-color: $secondary-color;
    }
}

// When not logged in
.not-logged-in {
    margin: auto;
    width: 50%;
    .secondary-page-title,
    .primary-page-title {
        text-align: center;
    }
}
.gravatar {
    float: left;
    margin: 10px 10px 10px 0;
}
.name {
    margin-top: 3px;
}